/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 27 de gen. 2025, 14:39:54
    Author     : aula1PTD1
*/
#imatges { position:relative; top:-386px; left:318px;}
#caminar { position:relative; top:-130px; left:310px; }
#idiomes { position:relative; top:-386px; left:318px;}
#rotar   { position:relative; top:-500px; left:600px; }